.navbar {
	margin-bottom: 0;
}
.dropdown:hover .dropdown-menu {
	display: block;
}
.container {
	margin-top: 0;
	position: relative;
	width: 100%;
}
.container img {
	width: 100%;
	position: absolute;
	height: auto;
	left: 0;
}
.header {
	position: absolute;
	padding-top: 20%;
	width: 100%;
	left: 0;
}
h1 span {
	color: white;
	font: bold 7vmax/12vmax Helvetica, Sans-serif;
	letter-spacing: -1px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
}
#button1 {
	position: absolute;
	top: 10%;
	left: 90%;
}
#btn-join {
	margin-top: 10px;
	margin-left: 11px;
}
#About_us {
	padding-top: 50%;
}
#About_us h1 {
	text-align: left;
}
#About_us p {
	font-size: 1.75vmax;
}
#About_us h2 {
	font-size: 18px;
	padding: 10px;
	border: black 1px solid;
	background-color: #CC3030;
	text-align: center;
	color: white;
}
blockquote {
	width: 30vmax;
	text-align: center;
	margin: 0 auto;
}
#About_us img {
	padding-left: 0.5vmax;
	width: 30vmax;
	height: 20vmax;
    cursor: pointer;
 	margin-right: 20px;
}

#About_us img:hover {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 255, 0, 0.67);
    box-shadow:         0px 0px 30px 0px rgba(0, 255, 0, 0.67);
}
#About_us img:last-of-type:hover {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(232, 0, 0, 0.67);
    -moz-box-shadow:    0px 0px 30px 0px rgba(232, 0, 0, 0.67);
    box-shadow:         0px 0px 30px 0px rgba(232, 0, 0, 0.67);
}
form {
	margin: 0 auto;
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 1em;
}
form div + div {
	margin-top: 1em;
}
label {
	display: inline-block;
	width: 90px;
	text-align: right;
}
input, textarea {
	font: 1em sans-serif;
	width: 350px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #999;
}
